* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 400% 400%;
    background-image: linear-gradient(to bottom,#042326,
    #0A3A40,#0F5959,#1D7373,#107361);
    font-family: monospace, sans-serif;
    color: #F2C335;
}

.card_cadastro {
        display: flex;
        flex-direction: column;
        background: #593E25;
        width: 80vw;
        max-width: 450px;
        padding: 30px;
        border-radius: 10px;       
}

.card_cadastro h2 {
        margin-bottom: 5px;
}

.card_cadastro .bar {
        width: 50px;
        height: 2px;
        background: transparent;
}

.card_cadastro label {
        margin-bottom: 10px;
}

.card_cadastro input {
        padding: 10px;
        border: none;
        border: 1px solid black;
        border-radius: 10px;        
}

.card_cadastro button {
        margin: 30px 0 10px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background: #F2C335;
        color: #593E25;
        cursor: pointer;
        text-transform: uppercase;
}